* {
    margin: 0;
    padding: 0;
}

html {
    background-image: url(./Pastel\ Aesthetic\ Minimalist\ Signature\ Beauty\ Logo.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center center;
}

nav {
    width: 100%;
    text-align: center;
    box-shadow: 0 1px 20px 0px black;
    margin-bottom: 6em;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li { 
    display: inline-block;
    margin: 1.5em 1em 1em 1em; 
    font-weight: 800;
}

a {
    text-decoration: none;
    color: black;
}

#cover {
    display: flex;
    justify-content: center;
    margin: auto;
    height: auto;
    width: 70%;
    box-shadow: 8px 8px 20px 0px black;
    border-radius: 15px;
}

.break {
    padding: 30px;
    background-color: black;
    color: white;
    text-align: center;
    margin: 6em;
}

.container {
    display: flex;
    justify-content: center;
    margin: 6em;
}

#beforeAfter {    
    height: auto;
    width: 25%;
    margin-bottom: 50px;
    box-shadow: 8px 8px 20px 0px black;
}

#flexing {    
    height: auto;
    width: 25%;
    border: solid black 1px;
    margin-top: 50px;
    box-shadow: 8px 8px 20px 0px black;
}

#squad {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    margin: auto;
}

.contact {
    padding: 30px;
    text-align: center;
    background-color: black;
    color: white;
}